/*Sección About*/
section.about {
    padding: 62px 153px;
    background-color: #EAF2FD;
}

/* Container section about */
section.about div.about__container {
    width: 700px;
}
section.about h3.about__title {
    font-size: 32px;
}
section.about div.about__container p {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

